@{
    var menus = new[]
    {
        new {LinkText = "LimitLess", ActionName = "Index", ControllerName = "Home", Roles = "All"},
        new {LinkText = "Users", ActionName = "Index", ControllerName = "User", Roles = "Admin, Anonymous"},
        new {LinkText = "Roles", ActionName = "Index", ControllerName = "RolesAdmin", Roles = "Admin, Anonymous"},
        new {LinkText = "Trenerzy", ActionName = "Contact", ControllerName = "Home", Roles = "Admin, Anonymous"},
        new {LinkText = "Classes", ActionName = "Index", ControllerName = "Home", Roles = "Admin, Dealer"},
        new {LinkText = "Halls", ActionName = "Index", ControllerName = "Home", Roles = "Admin"},
        new {LinkText = "Carnets", ActionName = "Contact", ControllerName = "Home", Roles = "Admin"},
        new {LinkText = "Orders", ActionName = "Contact", ControllerName = "Home", Roles = "Dealer,PublicUser"},
    };
}

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin;

   
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            
                var userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();
                var userRoles = userManager.GetRoles(User.Identity.GetUserId());
               var links = from item in menus
                        where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                        .Any(x => userRoles.Contains(x) || x == "All")
                        select item;
            foreach (var link in links)
            {
                @:
                <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
            }
        }
        else
        {
            var links = from item in menus
                        where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                        .Any(x => new String[] { "All", "Anonymous" }.Contains(x))
                        select item;
            foreach (var link in links)
            {
                @:
                <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
            }
        }
   
 