@Styles.Render("~/bundles/fullcalendarcss")
@Scripts.Render("~/bundles/fullcalendarjs")
@{
    ViewBag.Title = "Index";
}
<style>
    .fc-widget-content {
        height: 5em !important;
    }
</style>
<script type="text/javascript" src="~/Scripts/fullcalendar.js"></script>
<script type="text/javascript">

</script>
<h2>Index</h2>
<div class="row">
    <div class="box">
        <div id="calendar" style="width: 80%"></div>
    </div>
</div>

<div id="popUpEventInfo" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Event info</h4>
            </div>
            <div class="modal-body">
                <h1 id="classesType"></h1>
                <p id="classesDescription"></p>
                <p>Date: <span id="startSpan"></span></p>
                <p>Last: <span id="lastSpan"></span></p>
                <p>Hall: <span id="hallSpan"></span></p>
                <p>Available: <span id="availableSpan"></span></p>
                <p>Id: <span id="eventIdSpan"></span></p>

            </div>
        
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->